@import "tailwindcss";

/* globals.css */
:root {
  --font-family-default: var(--font-jetbrains-mono);
}

body {
  font-family: var(--font-family-default), monospace;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}